.columns {
  display: flex!important;
  flex-wrap: wrap;
  margin: -.75rem;
}

.column {
  flex-basis: 15rem;
  flex-grow: 1;
  margin: .75rem;
  
  > h3 + p {
    margin-top: var(--size-300);
  }

  > p + p {
    margin-top: var(--size-200);
  }

  & svg {
    height: auto;
    max-width: 100%;
    width: 8rem;
  }
}
