.quote {
  margin-right: auto;
  margin-left: auto;
  max-width: 26rem;
  position: relative;

  &::before,
  &::after {
    color: var(--c-tertiary-200);
    cursor: default;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5rem;
    position: absolute;
    user-select: none;
    z-index: -1;
  }

  &::before {
    content: '«';
    margin-left: -1rem;
    margin-top: -.5rem;
  }
  &::after {
    content: '»';
    margin-left: -1rem;
    margin-top: .5rem;
  }
}