@import './_reset.css';
@import './_typography.css';

@import './slide-layouts/master.css';
@import './slide-layouts/home.css';

@import './components/button.css';
@import './components/columns.css';
@import './components/decorated-image.css';
@import './components/list.css';
@import './components/logo.css';
@import './components/mega-card.css';
@import './components/project.css';
@import './components/quote.css';

/* Variables */

:root {
  --soft-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);

  --c-secondary-100: #121212;
  --c-secondary-200: #151715;
  --c-secondary-300: #1E231E;

  --c-primary-100: #6CCC5C;
  --c-primary-200: #62E650;
  --c-primary-300: #78FA61;

  --c-tertiary-100: #93E683;
  --c-tertiary-200: #C5EABF;
  --c-tertiary-300: #F8F9F6;

  --c-font-main: var(--c-secondary-200);
  --c-font-secondary: var(--c-secondary-100);
  --c-font-inverted: var(--c-tertiary-300);

  --c-background: var(--c-tertiary-300);

  --size-100: 0.16rem;
  --size-200: 0.4rem;
  --size-300: 0.8rem;
  --size-400: 1.6rem;
  --size-500: 4rem;
  --size-600: 6rem;
  --size-700: 8rem;
  --size-800: 14rem;
  --size-900: 32rem;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(0.333vw + 1rem);
  font-weight: 400;
  position: relative;
}

/* Handy utilities */

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	position: relative;
	width: 90ch;
}

.stack {
  &--100 > * ~ * { margin-top: var(--size-100) }
  &--200 > * ~ * { margin-top: var(--size-200) }
  &--300 > * ~ * { margin-top: var(--size-300) }
  &--400 > * ~ * { margin-top: var(--size-400) }
  &--500 > * ~ * { margin-top: var(--size-500) }
}
