section.slide.home {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-top: calc(10vw + var(--size-500));
  text-align: center;

  & svg + b {
    /*display: block;
    margin-top: var(--size-300);
    margin-top: calc(1vw + var(--size-100));*/
    margin-left: -1.5vw;
  }
  
  & b + blockquote {
    display: block;
    margin-top: var(--size-400);
    margin-top: calc(3vw + var(--size-100));
  }
}
