section.slide.home {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-block-start: 5rem;
  /*padding-block-start: calc(10vw + var(--size-500));*/
  text-align: center;

  & svg + b {
    /*display: block;
    margin-block-start: var(--size-300);
    margin-block-start: calc(1vw + var(--size-100));*/
    margin-inline-start: -1.5vw;
  }
  
  & b + blockquote {
    display: block;
    margin-block-start: var(--size-400);
    margin-block-start: calc(3vw + var(--size-100));
  }
}
