section.slide {
  /*top: 0;
  right: 0;
  bottom: 0;
  left:  0;
  height: fit-content;
  padding-bottom: 7rem;
  position: absolute;*/
  padding-bottom: 10rem;
  padding-top: 3rem;
  padding-top: calc(2vw + var(--size-400));
  
  /* Default spacing */
  & > div > * ~ * {
    margin-top: calc(1vw + var(--size-200));
  }

  /* Spacing for h1 */
  & > div > h1 + * {
    display: block;
    margin-top: calc(2vw + var(--size-400));
  }

  /* Spacing for h2 */
  & > div > * + h2 {
    display: block;
    margin-top: calc(2vw + var(--size-300));
  }

  /* Spacing for sections */
  & > div > * ~ [class|=stack] {
    margin-top: calc(5vw + var(--size-700));
  }

  /* Spacing for paragraphs */
  & > div > * ~ p {
    margin-top: calc(1vw + var(--size-200));
  }

}

.controls {
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(.5rem);
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 100;
}

.controls .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -.25rem -.75rem;
}

.controls .wrapper > * {
  margin: .25rem .75rem;
}