section.slide {
  /*top: 0;
  right: 0;
  bottom: 0;
  left:  0;
  height: fit-content;
  padding-bottom: 7rem;
  position: absolute;*/
  padding-block-end: 10rem;
  padding-block-start: 3rem;
  padding-block-start: calc(2vw + var(--size-400));

  & > div > h1 + * {
    margin-block-start: calc(2vw + var(--size-400));
  }

  & > div > * ~ * {
    margin-block-start: calc(5vw + var(--size-700));
  }
}

.controls {
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(.5rem);
  background-color: rgba(255, 255, 255, 0.6);
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  position: fixed;
  z-index: 100;
}

.controls .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -.25rem -.75rem;
}

.controls .wrapper > * {
  margin: .25rem .75rem;
}